<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
      <h2 class="link">Admin panel <%= link_to 'Back to site', pages_path, class: "link" %></h2>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
